@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;700&display=swap');


.pagInicial{
    background-image: none;
    height: 635px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    background-image: linear-gradient(to bottom, #47A4D6, #14213d);
}

.pagIni{
    border: 1px solid black;
    width: 25%;
    height: 60%;
    background: rgba(255, 255, 255, 0.76);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 7px 10px black;
    
}

#logo-usuario{
    width: 50%;
    margin: 0 auto;
    
    display: block;
    
}
form{
    margin: auto;
    width: 100%;
}
label{
    font-size: 20px;
}

#input{
    width: 97%;
    margin: 5px  0px;
    display: block;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.774);
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif


}


#submit{
    font-family: 'Titillium Web', sans-serif;
    border: 1px solid #000;
    display: block;
    width: 170px;
    height: 45px;
    background: #14213d;
    text-decoration: none;
    color: #fff ;
    border-radius: 7;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    margin: 15px auto;
    box-shadow: 5px 5px 8px #000 ;

}
#submit:hover{  
    background: #47A4D6;
    color: #000;
    box-shadow: 2px 2px 2px #000 ;

}